/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/**
 *
 * FOUNDATIONS................................................
 * BASE.......................................................
 */

/*=============================================
 =                   Foundations               =
 =============================================*/

@import "foundation/all";

/*=============================================
=            Base                             =
=============================================*/

@import "./base/resetcss.scss";
@import "./base/root.scss";

body {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font-family;
}
